@import 'null.scss';


.section1{
    height: 1200px;
    background-image: url(../../img/HQMcG3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 300px;//400
    @media screen and (max-width: 1400px){
        &{
            height: 1800px;//2000
            width: 1400px; //1400
            background-size: 2000px 1900px;//1500 2000
            // padding-top: 120px;
        }
    }
    @media screen and (max-width: 900px){
        &{
            background-size: 1500px 2000px;
        }
    }
    @media screen and (max-width: 700px){
        &{
            height: 1500px;
            width: 1400px;
            background-size: 1500px 2000px;
        }
    }
}
.section1-container{
    height: 600px;
}
.section1-content{
    width: 1000px;
    height: 650px;
    background: magenta;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 100px;
    padding: 50px 10px 50px 40px;
    span{
        margin-bottom: 50px;
        font-size: 18px;
        letter-spacing: 5px;
        font-family: 'Rock Salt', cursive;
        color: white;
    }
    h2{
        font-size: 60px;
        margin-bottom: 40px;
        font-family: 'Rock Salt', cursive;
        line-height: 80px;
        color: yellow;
    }
    p{
        margin-bottom: 40px;
        line-height: 35px;
        font-family: 'Rock Salt', cursive;
        color: #5ef7ff;
        word-spacing: 5px;
        letter-spacing: 8px;
    }
    .button{
        // background: yellow;
        width: 920px;
        padding-left: 300px;
        button{
            width: 120px;
            height: 50px;
            background: #ec5b53;
            margin-right: 20px;
            transition: 1s;
            &:hover{
                background: #ba362f;
                transition: 1s;
            }
            a{
                line-height: 50px;
                font-size: 15px;
                color: white;
                font-family: 'Merienda', cursive;
            }
        }
    }
    @media screen and(max-width:1400px) {
        &{
        //  width: 1100px;//1300
        //  height: 900px;//1200
        //  background: green;
        //  padding-top: 10px;
            width: 900px;//1300
            height: 400px;//1200
            background: none;
            padding-top: 10px;
            margin-left:60px;
        } 
        span{
            display: none;
            // margin-bottom: 10px;
            // font-size: 20px;
            // letter-spacing: 5px;
            // font-family: 'Rock Salt', cursive;
        }
        h2{
            font-size: 70px;//110
            margin-bottom: 80px;//100
            font-family: 'Rock Salt', cursive;
            line-height: 120px;//120
            color: cornsilk;
        }
        p{
            display: none;
            // margin-bottom: 80px;//100
            // font-size: 30px;//50
            // line-height: 60px;//60
            // font-family: 'Rock Salt', cursive;
        }
        .button{
            background: none;
            padding-left: 150px;//420
            button{
                width: 200px;//200
                line-height: 80px;//80
                background: #ec5b53;
                margin-right: 20px;//20
                transition: 1s;
                &:hover{
                    background: #ba362f;
                    transition: 1s;
                }
                a{
                    line-height: 80px;//80
                    font-size: 30px;//30
                    color: white;
                    font-family: 'Merienda', cursive;
                }
            }
        }
    }
    
}















